@mixin flexbox($_direction, $_align, $_justify){
  display:flex;
  flex-direction: $_direction;
  align-items: $_align;
  justify-content: $_justify;
}

@mixin pad-width(){	
	    @media all and (min-width:$mobile-media) and (max-width:$pad-media){
	     	@content;
	    }
	}

@mixin mobile-width(){	
	    @media all and (max-width:$mobile-media){
	     	@content;
	    }
	}	