//font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400&display=swap&subset=chinese-traditional');
//z-index
$homeInfoIndex : 100;
$sectionIndex:200;

///--color
$white:#FFFFFF;
$black:#000000;
$primary-gray:#F7F7F7;
$dark-gray:#575757;
$small-light-gray:#6D7278;

///--size
$logoSize:163px;
$socialIconSize:25px;
$infoIconSize:19px;