//font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400&display=swap&subset=chinese-traditional');
//z-index
$homeInfoIndex : 100;
$sectionIndex:200;
$reservationIndex:300;

///--color
$white:#FFFFFF;
$black:#000000;
$primary-gray:#F7F7F7;
$dark-gray:#575757;
$small-light-gray:#6D7278;
$amenities-gray:#F0F0F0;
$form-border:#C9C9C9;
$form-red:#FF5C5C;
$form-bg:#EDEDED;
$form-text-gray:#6D7278;
$form-bg-dark:#484848;

///--size
$preloaderSize:64px;
$logoSize:163px;
$socialIconSize:25px;
$infoIconSize:19px;

//mediaquare
$pad-media:960px;
$mobile-media:600px;