@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400&display=swap&subset=chinese-traditional");
html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

body, html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

html {
	overflow-y: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, input, select {
	-webkit-appearance: none;
}

textarea:focus, input:focus, select:focus {
	outline: none;
	-webkit-appearance: none;
}

.btn {
	display: block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	text-decoration: none;
	cursor: pointer;
}

.social-icon {
	width: 21.875px;
	height: 25px;
	margin-right: 10px;
}

.social-icon:hover {
	-webkit-filter: brightness(0.5);
	        filter: brightness(0.5);
}

.fb-icon {
	background-image: url("../images/facebook-square-brands.svg");
}

.ig-icon {
	background-image: url("../images/instagram-brands.svg");
}

.info-icon {
	width: 19px;
	height: auto;
	margin-right: 20px;
}

.wifi-icon {
	background-image: url("../images/wifi.svg");
}

.phone-icon {
	background-image: url("../images/phone.svg");
}

.reservation-btn {
	width: 30%;
	padding: 20px;
	background-color: #575757;
	color: #FFFFFF;
	margin: 30px 0 0 3vw;
	position: relative;
}

.reservation-btn_shadow {
	position: absolute;
	z-index: -1;
	left: 8px;
	top: 8px;
	width: 100%;
	height: 100%;
	background-color: #575757;
	background-image: repeating-linear-gradient(45deg, white, white 5px, transparent 0, transparent 6px);
}

.reservation-btn:hover {
	background: #6D7278;
}

.cancel-btn {
	padding: 10px 20px;
	background-color: #EDEDED;
	color: #6D7278;
}

.cancel-btn:hover {
	-webkit-filter: invert(100%);
	        filter: invert(100%);
}

.submit-btn {
	padding: 10px 20px;
	background-color: #484848;
	color: #FFFFFF;
}

.submit-btn:hover {
	-webkit-filter: invert(100%);
	        filter: invert(100%);
}

.reset-date-icon {
	width: 24px;
	height: 24px;
	background-image: url("../images/refresh.svg");
	position: absolute;
	right: 5px;
	top: 8px;
}

.back-btn {
	margin-left: 80%;
	right: 20px;
	width: 20%;
	padding: 10px 20px;
	background-color: #575757;
	color: #FFFFFF;
}

.swiper-container {
	width: 100%;
	height: 100vh;
}

.swiper-container .swiper-slide {
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.lb-closeContainer {
	display: none;
}

.lightbox .lb-image {
	border-radius: 0;
	border: none;
}

.lb-nav a.lb-prev {
	background: url(../images/prev.svg) left 48% no-repeat;
}

.lb-nav a.lb-next {
	background: url(../images/next.svg) right 48% no-repeat;
}

#datepicker .datepicker {
	width: 94%;
}

#datepicker .datepicker .datepicker--nav, #datepicker .datepicker .datepicker--day-name {
	font-size: 1.2em;
}

.form-item .datepicker {
	width: 60%;
	margin-left: 30%;
	position: absolute;
}

.form-item .datepicker .datepicker--nav, .form-item .datepicker .datepicker--day-name {
	font-size: 1em;
}

.datepicker {
	background-color: #F7F7F7;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.18);
	        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.18);
	padding: 3%;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 200;
}

.datepicker--nav {
	padding: 2%;
	border-bottom: none;
	color: #000000;
	font-weight: 400;
}

.datepicker--nav i {
	color: #000000;
}

.datepicker--nav-action path {
	stroke: #000000;
	stroke-width: 1px;
}

.datepicker--day-name {
	color: #6D7278;
	font-weight: 400;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-, .datepicker--cell.-in-range- {
	color: #000000;
	background-color: #575757;
	background-image: repeating-linear-gradient(60deg, white, rgba(255, 255, 255, 0.9) 5px, transparent 0, transparent 6px);
}

body {
	font-family: 'Noto Sans TC', sans-serif;
	color: #000000;
	font-size: 14px;
	position: relative;
}

main {
	position: relative;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

main.show {
	visibility: visible;
	opacity: 1;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.313em;
}

h3 span.small {
	font-size: 0.65em;
	color: #6D7278;
}

h4 {
	font-size: 1em;
}

.small {
	font-size: 0.875em;
	color: #6D7278;
}

.logo {
	position: absolute;
	top: calc(40vh - 163px*0.5);
	left: calc(50vw - 163px*0.5);
	z-index: 100;
	-webkit-animation: logo-preloader 2s linear infinite;
	        animation: logo-preloader 2s linear infinite;
}

.logo img {
	display: block;
}

.logo.loaded {
	-webkit-animation: none;
	        animation: none;
}

.logo_small {
	position: absolute;
	top: 3vh;
	left: 3vh;
	z-index: 100;
}

@-webkit-keyframes logo-preloader {
	0%, 100% {
		-webkit-filter: invert(1);
		        filter: invert(1);
	}
	50% {
		-webkit-filter: invert(0);
		        filter: invert(0);
	}
}

@keyframes logo-preloader {
	0%, 100% {
		-webkit-filter: invert(1);
		        filter: invert(1);
	}
	50% {
		-webkit-filter: invert(0);
		        filter: invert(0);
	}
}

.home-info-pane {
	color: #FFFFFF;
	position: absolute;
	z-index: 100;
	top: calc(40vh + 163px*0.75);
	left: calc(50vw - 163px*0.5 - 100px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.home-info-pane .social-icons {
	width: 100px;
	position: relative;
	padding-right: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.home-info-pane .home-info {
	position: relative;
	border-left: 1px solid #FFFFFF;
	padding-left: 20px;
}

.home-info-pane .home-info li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding-bottom: 15px;
}

.home-info-pane .home-info li a {
	font-weight: 300;
}

.home-info-pane .home-info li a:link, .home-info-pane .home-info li a:visited, .home-info-pane .home-info li a:active {
	color: #FFFFFF;
}

.home-info-pane .home-info li a:hover {
	color: #575757;
}

section {
	position: absolute;
	z-index: 200;
	margin-top: -10vh;
}

.rooms-pane {
	width: 80vw;
	margin-left: 10vw;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.rooms-pane .room-block {
	position: relative;
	width: 25vw;
	height: calc(25vw*0.93 + 70px);
	background: #F7F7F7;
	margin-bottom: 60px;
	-webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.18);
	        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.18);
	cursor: pointer;
}

.rooms-pane .room-block a, .rooms-pane .room-block a:link, .rooms-pane .room-block a:visited, .rooms-pane .room-block a:hover, .rooms-pane .room-block a:active {
	color: #000000;
}

.rooms-pane .room-block img {
	height: calc(25vw * 0.93);
	min-width: 25vw;
	min-height: calc(25vw * 0.93);
	-webkit-clip-path: polygon(0% 0%, 0% 23.25vw, 25vw 23.25vw, 25vw 0%);
}

@media all and (min-width: 600px) and (max-width: 960px) {
	.rooms-pane .room-block {
		width: 39vw;
		height: calc(39vw*0.93 + 70px);
	}
	.rooms-pane .room-block img {
		height: calc(39vw * 0.93);
		min-width: 39vw;
		min-height: calc(39vw * 0.93);
		-webkit-clip-path: polygon(0% 0%, 0% 36.27vw, 39vw 36.27vw, 39vw 0%);
	}
}

@media all and (max-width: 600px) {
	.rooms-pane .room-block {
		width: 80vw;
		height: calc(80vw*0.93 + 70px);
	}
	.rooms-pane .room-block img {
		height: calc(80vw * 0.93);
		min-width: 80vw;
		min-height: calc(80vw * 0.93);
		-webkit-clip-path: polygon(0% 0%, 0% 74.4vw, 80vw 74.4vw, 80vw 0%);
	}
}

.rooms-pane .room-block .room-info {
	position: absolute;
	bottom: 0;
	height: 70px;
	background: #F7F7F7;
	padding: 20px 2vw 15px 2vw;
	font-weight: 300;
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-clip-path: polygon(0% 0%, 0% 70px, 100% 70px, 100% 0%);
}

.rooms-pane .room-block .price-info {
	padding: 50px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.rooms-pane .room-block:hover .room-info {
	height: 130px;
	-webkit-clip-path: polygon(0% 0%, 0% 130px, 100% 130px, 100% 0%);
}

.photo-grid {
	width: 100vw;
	height: 80vh;
	-webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.18);
	        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.18);
}

.photo-grid .grid-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.photo-grid .grid-item a {
	width: 100%;
	height: 100%;
	display: block;
}

.photo-grid .row {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.photo-grid .row .row-item70 {
	width: 70%;
	height: 100%;
}

.photo-grid .row .row-item30 {
	width: 30%;
	height: 100%;
}

.photo-grid .row .column {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.photo-grid .row .column .column-item {
	width: 100%;
	height: 50%;
}

.selected-room-pane {
	width: 90vw;
	margin-left: 5vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 8vh;
}

@media all and (min-width: 600px) and (max-width: 960px) {
	.selected-room-pane {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

@media all and (max-width: 600px) {
	.selected-room-pane {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.selected-room-pane_left {
	width: 50%;
}

@media all and (min-width: 600px) and (max-width: 960px) {
	.selected-room-pane_left {
		width: 100%;
	}
}

@media all and (max-width: 600px) {
	.selected-room-pane_left {
		width: 100%;
	}
}

.selected-room-pane_left .room-name {
	padding-bottom: 15px;
}

.selected-room-pane_left .room-basic {
	font-weight: 300;
	line-height: 2.5;
	margin-top: 15px;
	margin-bottom: 15px;
}

.selected-room-pane_left .room-basic .description {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 2;
}

.selected-room-pane_left .check-in-out {
	font-weight: 300;
	padding-top: 15px;
	padding-bottom: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.selected-room-pane_left .check-in-out div {
	width: 50%;
}

.selected-room-pane_left .amenities {
	background-color: #F0F0F0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 30px;
}

.selected-room-pane_left .amenities li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	font-weight: 300;
	width: 30%;
	padding: 15px;
	opacity: 0.2;
}

.selected-room-pane_left .amenities li.yes {
	opacity: 1;
}

.selected-room-pane_left .amenities li img {
	width: 22px;
	margin-right: 5px;
}

.selected-room-pane_middle {
	width: 15%;
	font-weight: 300;
	text-align: right;
	line-height: 2;
}

.selected-room-pane_middle p.small {
	margin-bottom: 20px;
}

@media all and (min-width: 600px) and (max-width: 960px) {
	.selected-room-pane_middle {
		width: 100%;
		text-align: left;
	}
}

@media all and (max-width: 600px) {
	.selected-room-pane_middle {
		width: 100%;
		text-align: left;
	}
}

.selected-room-pane_right {
	width: 35%;
}

.selected-room-pane_right #datepicker {
	margin: 0 0 0 3vw;
}

@media all and (min-width: 600px) and (max-width: 960px) {
	.selected-room-pane_right {
		width: 100%;
	}
	.selected-room-pane_right #datepicker {
		margin: 0;
	}
}

@media all and (max-width: 600px) {
	.selected-room-pane_right {
		width: 100%;
	}
	.selected-room-pane_right #datepicker {
		margin: 0;
	}
}

.reservation-pane {
	display: none;
	z-index: 300;
	position: absolute;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
}

.reservation-pane_content {
	width: 400px;
	height: 500px;
	background-color: #FFFFFF;
	position: absolute;
	left: calc(50vw - 200px);
	padding: 30px;
}

.reservation-pane_content form {
	padding-top: 30px;
}

.reservation-pane_content form .form-item {
	position: relative;
	margin-bottom: 15px;
}

.reservation-pane_content form label {
	display: inline-block;
	width: 30%;
}

.reservation-pane_content form input {
	width: 65%;
	display: inline-block;
	background: transparent;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	padding: 10px 5px 10px 5px;
	position: relative;
}

.reservation-pane_content form input:focus {
	border: 1px solid #FF5C5C;
}

.reservation-pane_content .parsley-errors-list {
	color: #FF5C5C;
	font-size: 0.8em;
	margin-left: 30%;
}

.reservation-pane_content .calc-date {
	margin-left: -30px;
	margin-right: -30px;
	margin-top: 30px;
	background: #EDEDED;
	padding: 10px 35px 10px 30px;
	color: #6D7278;
	font-size: 0.8em;
}

.reservation-pane_content .calc-date li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	line-height: 2em;
}

.reservation-pane_content .calc-price {
	text-align: right;
	color: #FF5C5C;
	padding-top: 10px;
}

.reservation-pane_content .form-btns {
	padding-top: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.reservation-pane_response {
	display: none;
	position: absolute;
	left: calc(50vw - 200px);
	width: 400px;
	height: auto;
	background-color: #FFFFFF;
	padding: 30px;
}

.reservation-pane_response h2 {
	padding-bottom: 30px;
}

.reservation-pane_response img {
	width: 60px;
	margin-left: 40%;
}

.reservation-pane_response.success img {
	display: block;
}

.reservation-pane_response.fail img {
	display: none;
}

/*# sourceMappingURL=style.css.map */
